<div class="tools-container">
    <div class="btn-group" role="group" >
        <button type="button" class="btn btn-secondary"
            *ngFor="let tool of tools; let i=index" (click)="updateTool($event, i)"
            [ngClass]="{active:currentTool===i}">
            {{tool}}
        </button>
        <button (click)="show = true" class="btn btn-secondary">Share</button>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Stroke color
        </button>
        <div class="dropdown-menu colors-menu" aria-labelledby="dropdownMenuButton">
            <div class="col-sm-3 dropdown-column-custom">
                <div class="dropdown-item color-dropdown-item" *ngFor="let color of colors | slice:0:4" [ngStyle]="{'backgroundColor': color}" (click)="updateStrokeColor($event, color)"></div>
            </div>
            <div class="col-sm-3 dropdown-column-custom">
                <div class="dropdown-item color-dropdown-item" *ngFor="let color of colors | slice:4:8" [ngStyle]="{'backgroundColor': color}" (click)="updateStrokeColor($event, color)"></div>
            </div>
            <div class="col-sm-3 dropdown-column-custom">
                <div class="dropdown-item color-dropdown-item" *ngFor="let color of colors | slice:8:12" [ngStyle]="{'backgroundColor': color}" (click)="updateStrokeColor($event, color)"></div>
            </div>
            <div class="col-sm-3 dropdown-column-custom">
                <div class="dropdown-item color-dropdown-item" *ngFor="let color of colors | slice:12:16" [ngStyle]="{'backgroundColor': color}" (click)="updateStrokeColor($event, color)"></div>
            </div>
        </div>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fill color
        </button>
        <div class="dropdown-menu colors-menu" aria-labelledby="dropdownMenuButton">
            <div class="col-sm-3 dropdown-column-custom">
                <div class="dropdown-item color-dropdown-item" *ngFor="let color of colors | slice:0:4" [ngStyle]="{'backgroundColor': color}" (click)="updateFillColor($event, color)"></div>
            </div>
            <div class="col-sm-3 dropdown-column-custom">
                <div class="dropdown-item color-dropdown-item" *ngFor="let color of colors | slice:4:8" [ngStyle]="{'backgroundColor': color}" (click)="updateFillColor($event, color)"></div>
            </div>
            <div class="col-sm-3 dropdown-column-custom">
                <div class="dropdown-item color-dropdown-item" *ngFor="let color of colors | slice:8:12" [ngStyle]="{'backgroundColor': color}" (click)="updateFillColor($event, color)"></div>
            </div>
            <div class="col-sm-3 dropdown-column-custom">
                <div class="dropdown-item color-dropdown-item" *ngFor="let color of colors | slice:12:16" [ngStyle]="{'backgroundColor': color}" (click)="updateFillColor($event, color)"></div>
            </div>
        </div>
    </div>

    <div *ngIf="show">
        <ul>
            <li *ngFor="let user of existingUsers">
                {{user.firstName}} {{user.lastName}}
            </li>
            <li *ngFor="let user of users" (click)="addToSharedWithMe($event, user)">
                {{user.firstName}} {{user.lastName}}
            </li>
        </ul>
    </div>
</div>
