<div class="tools-container">
    <h2 class="doc-title">{{title}}</h2>
    <div class="btn-group shape-selector" role="group" >
        <button type="button" class="btn btn-secondary"
            *ngFor="let tool of tools; let i=index" (click)="updateTool($event, i)"
            [ngClass]="{active:currentTool===i}">
            {{tool}}
        </button>
    </div>
    <div class="dropdown color-selector">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Stroke color
        </button>
        <div class="dropdown-menu colors-menu" aria-labelledby="dropdownMenuButton">
            <div class="col-sm-3 dropdown-column-custom">
                <div class="dropdown-item color-dropdown-item" *ngFor="let color of colors | slice:0:4" [ngStyle]="{'backgroundColor': color}" (click)="updateStrokeColor($event, color)"></div>
            </div>
            <div class="col-sm-3 dropdown-column-custom">
                <div class="dropdown-item color-dropdown-item" *ngFor="let color of colors | slice:4:8" [ngStyle]="{'backgroundColor': color}" (click)="updateStrokeColor($event, color)"></div>
            </div>
            <div class="col-sm-3 dropdown-column-custom">
                <div class="dropdown-item color-dropdown-item" *ngFor="let color of colors | slice:8:12" [ngStyle]="{'backgroundColor': color}" (click)="updateStrokeColor($event, color)"></div>
            </div>
            <div class="col-sm-3 dropdown-column-custom">
                <div class="dropdown-item color-dropdown-item" *ngFor="let color of colors | slice:12:16" [ngStyle]="{'backgroundColor': color}" (click)="updateStrokeColor($event, color)"></div>
            </div>
        </div>
    </div>

    <div class="dropdown color-selector">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fill color
        </button>
        <div class="dropdown-menu colors-menu" aria-labelledby="dropdownMenuButton">
            <div class="col-sm-3 dropdown-column-custom">
                <div class="dropdown-item color-dropdown-item" *ngFor="let color of colors | slice:0:4" [ngStyle]="{'backgroundColor': color}" (click)="updateFillColor($event, color)"></div>
            </div>
            <div class="col-sm-3 dropdown-column-custom">
                <div class="dropdown-item color-dropdown-item" *ngFor="let color of colors | slice:4:8" [ngStyle]="{'backgroundColor': color}" (click)="updateFillColor($event, color)"></div>
            </div>
            <div class="col-sm-3 dropdown-column-custom">
                <div class="dropdown-item color-dropdown-item" *ngFor="let color of colors | slice:8:12" [ngStyle]="{'backgroundColor': color}" (click)="updateFillColor($event, color)"></div>
            </div>
            <div class="col-sm-3 dropdown-column-custom">
                <div class="dropdown-item color-dropdown-item" *ngFor="let color of colors | slice:12:16" [ngStyle]="{'backgroundColor': color}" (click)="updateFillColor($event, color)"></div>
            </div>
        </div>
    </div>


    <div class="dropdown share-with-users">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Share
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <h6 class="dropdown-header">Already shared with</h6>
            <div class="dropdown-divider"></div>
            <div *ngFor="let user of existingUsers" class="dropdown-item disabled">
                {{user.firstName}} {{user.lastName}}
            </div>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Can be shared with</h6>
            <div class="dropdown-divider"></div>
            <div *ngFor="let user of users" (click)="addToSharedWithMe($event, user)" class="dropdown-item">
                {{user.firstName}} {{user.lastName}}
            </div>
        </div>
    </div>
</div>
