.tools-container {
    width: calc(100% - 221px);
    height: 100px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.50);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    z-index: 10;
}

.doc-title {

}

.shape-selector,.color-selector, .share-with-users{
    float: left;
}

.color-dropdown-item {
    padding: 0;
    height: 20px;
    width: 20px;
}

.dropdown-column-custom {
    padding: 0;
    width: 20px;
}

.colors-menu {
    width: 102px;
    height: 102px;
    padding: 10px;
    min-width: 80px;
}
