.app-board {
    position: absolute;
}
.app-board-container {
    position: relative;
    background: url('https://i.stack.imgur.com/f42ba.gif');
    height: 100%;
    width: calc(100% - 220px);
    overflow: hidden;
    z-index: 8;
}
