<div>
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p><a [routerLink]="['/login']" class="btn btn-danger logout-btn">Logout</a></p>

    <br>

    <div class="drawing-items-container">
        <h2 class="my-drawings-header">My Drawings</h2>
        <div class="dropdown-selector create-new">
            <button class="btn btn-primary dropdown-toggle create-new-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+</button>
            <div class="dropdown-menu new-drawing-form">
                <form (ngSubmit)="createNewDrawing($event)" novalidate>
                    <div class="form-group">
                        <label for="file-name">File Name</label>
                        <input type="text" class="form-control" name="file-name" [(ngModel)]="filename" required />
                    </div>
                    <button class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="drawing-item" *ngFor="let drawing of drawings" (click)="changeRoute('/document/'+ drawing._id + '/' + drawing.title)">
            {{drawing.title}}
        </div>
    </div>
    <br>
    <div class="drawing-items-container">
        <h2>Drawings shared with me</h2>
        <br>
        <div class="drawing-item" *ngFor="let drawing of sharedDrawings" (click)="changeRoute('/document/'+ drawing._id + '/' + drawing.title)">
            {{drawing.title}}
        </div>
    </div>
</div>
